<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/org.eclipse.orbit.maven.generator/src/org/eclipse/orbit/maven/generator/DependencyAnalyzer.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.orbit.maven.generator.DependencyAnalyzer"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="org.eclipse.orbit.maven.generator"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-args&#13;&#10;${resource_loc:/org.eclipse.orbit.simrel/maven-jetty/dependency-analyzer-arg.txt}&#13;&#10;&#13;&#10;-cache&#13;&#10;${project_loc:/org.eclipse.orbit.maven.generator}/cache&#13;&#10;&#13;&#10;-merge&#13;&#10;${resource_loc:/org.eclipse.orbit.simrel/maven-jetty/tp/MavenJetty.target}&#13;&#10;&#13;&#10;-merge-uri&#13;&#10;https://github.com/eclipse-orbit/orbit-simrel/blob/main/maven-jetty/tp/MavenJetty.target&#13;&#10;&#13;&#10;-report&#13;&#10;${project_loc:/org.eclipse.orbit.simrel}/report/maven-jetty&#13;&#10;&#13;&#10;-update-merge"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.orbit.maven.generator"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.orbit.maven.generator.redirection.jetty.supplement=https://raw.githubusercontent.com/eclipse-orbit/orbit-simrel/main/maven-jetty/tp/other/MavenJettySupplement.target-&gt;local:${resource_loc:/org.eclipse.orbit.simrel/maven-jetty/tp/other/MavenJettySupplement.target}"/>
</launchConfiguration>
