<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="template" sequenceNumber="1">
  <locations>

    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
      <feature id="org.eclipse.orbit.maven.XXXXXXXXXXX" label="Orbit Maven BND XXXXXXXXXXX" provider-name="Eclipse Orbit" version="4.29.0">
        <description>This feature's dependencies are pulled directly from Maven central and wrapped via BND recipe as OSGi artifacts.</description>
        <copyright>
Copyright (c) 2023 Eclipse contributors and others.

This program and the accompanying materials
are made available under the terms of the Eclipse Public License 2.0
which accompanies this distribution, and is available at
https://www.eclipse.org/legal/epl-2.0/

SPDX-License-Identifier: EPL-2.0
        </copyright>
        <license url="https://www.eclipse.org/legal/epl-2.0/"/>
      </feature>
      <dependencies>
        <dependency>
          <groupId>org.apache.ws.commons.util</groupId>
          <artifactId>ws-commons-util</artifactId>
          <version>1.0.2</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions>
<!-- SHA1 c8dc8753093a7c502d8175de08964aee0ff1e644 -->
<![CDATA[
Bundle-Name:            Bundle ${mvnGroupId} : ${mvnArtifactId}
version:                ${versionmask;===;${version_cleanup;${mvnVersion}}}
Bundle-SymbolicName:    ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:         ${version}
Eclipse-Wrapped-Bundle: ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
Import-Package:         *;resolution:=optional;
Export-Package:         *;version="${version}";-noimport:=true
-noextraheaders:        true
-removeheaders:         Private-Package
]]>
      </instructions>
    </location>

  </locations>
</target>