<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="MavenSign" sequenceNumber="1">
  <locations>

<!-- _______________________________________________________ com.github.jnr.jffi _________________________________________________________________________________________________-->

    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
      <feature id="org.eclipse.orbit.maven.com.github.jnr.jffi" label="Orbit Maven BND com.github.jnr.jffi" provider-name="Eclipse Orbit" version="4.40.0.v20260401-1000">
        <description>This feature's dependencies are pulled directly from Maven central and is signed.</description>
        <copyright>
Copyright (c) 2026 Eclipse contributors and others.

This program and the accompanying materials
are made available under the terms of the Eclipse Public License 2.0
which accompanies this distribution, and is available at
https://www.eclipse.org/legal/epl-2.0/

SPDX-License-Identifier: EPL-2.0
        </copyright>
        <license url="https://www.eclipse.org/legal/epl-2.0/"/>
      </feature>
      <dependencies>
        <dependency>
          <groupId>com.github.jnr</groupId>
          <artifactId>jffi</artifactId>
          <version>1.3.15</version>
          <type>jar</type>
          <classifier>native</classifier>
        </dependency>
      </dependencies>
      <instructions>
<!-- SHA1 4cf8fc1393212e06fa47a4bb974c7b19fe9bde54 -->
<![CDATA[
# These instructions are not actually used because this is an OSGi artifact
version:                ${versionmask;===;${version_cleanup;${mvnVersion}}}
# Bundles that match this pattern will be updated to use this qualifier.
# bundle-pattern:       com\.github\.jnr\.jffi\.native(\.source)?
Bundle-Version:         ${version}.v20260401-1000
]]>
      </instructions>
    </location>


<!-- _______________________________________________________ net.java.dev.jna _________________________________________________________________________________________________-->

    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
      <feature id="org.eclipse.orbit.maven.net.java.dev.jna" label="Orbit Maven BND net.java.dev.jna" provider-name="Eclipse Orbit" version="4.40.0">
        <description>This feature's dependencies are pulled directly from Maven central and is signed.</description>
        <copyright>
Copyright (c) 2026 Eclipse contributors and others.

This program and the accompanying materials
are made available under the terms of the Eclipse Public License 2.0
which accompanies this distribution, and is available at
https://www.eclipse.org/legal/epl-2.0/

SPDX-License-Identifier: EPL-2.0
        </copyright>
        <license url="https://www.eclipse.org/legal/epl-2.0/"/>
      </feature>
      <dependencies>
        <dependency>
          <groupId>net.java.dev.jna</groupId>
          <artifactId>jna</artifactId>
          <version>5.18.1</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      
      <instructions>
<!-- SHA1 094252c664884932c43d24467e6ccedd8dedbee6 -->
<![CDATA[
# These instructions are not actually used because this is an OSGi artifact
version:                ${versionmask;===;${version_cleanup;${mvnVersion}}}
# Bundles that match this pattern will be updated to use this qualifier.
# bundle-pattern:       com\.sun\.jna(\.source)?
Bundle-Version:         ${version}.v20251001-0800
]]>
      </instructions>
    </location>


<!-- _______________________________________________________ io.github.humbleui.skija-native _________________________________________________________________________________________________-->

    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
      <feature id="org.eclipse.orbit.maven.io.github.humbleui.skija-native" label="Orbit Maven BND io.github.humbleui.skija-native" provider-name="Eclipse Orbit" version="4.40.0.v20260417-1000">
        <description>This feature's dependencies are pulled directly from Maven central and wrapped via BND recipe as OSGi artifacts.</description>
        <copyright>
Copyright (c) 2026 Eclipse contributors and others.

This program and the accompanying materials
are made available under the terms of the Eclipse Public License 2.0
which accompanies this distribution, and is available at
https://www.eclipse.org/legal/epl-2.0/

SPDX-License-Identifier: EPL-2.0
        </copyright>
        <license url="https://www.eclipse.org/legal/epl-2.0/"/>
      </feature>
      <dependencies>
        <dependency>
          <groupId>io.github.humbleui</groupId>
          <artifactId>skija-linux-x64</artifactId>
          <version>0.143.13</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>io.github.humbleui</groupId>
          <artifactId>skija-linux-arm64</artifactId>
          <version>0.143.13</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>io.github.humbleui</groupId>
          <artifactId>skija-macos-x64</artifactId>
          <version>0.143.13</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>io.github.humbleui</groupId>
          <artifactId>skija-macos-arm64</artifactId>
          <version>0.143.13</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>io.github.humbleui</groupId>
          <artifactId>skija-windows-x64</artifactId>
          <version>0.143.13</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions>
<!-- SHA1 71220fcbdb40d2894a7a0a118e30739a90d931cc -->
<![CDATA[
# These instructions are actually used.
version:                ${versionmask;===;${version_cleanup;${mvnVersion}}}
# Bundles that match this pattern will be updated to use this qualifier.
# bundle-pattern:       io.github.humbleui.skija-(linux|macos|windows)-(x64|arm64)(.source)?
Bundle-Version:         ${version}.v20260417-1000
Bundle-Name:            Bundle ${mvnGroupId} : ${mvnArtifactId}
Bundle-SymbolicName:    ${mvnGroupId}.${mvnArtifactId}
Eclipse-Wrapped-Bundle: ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
Fragment-Host: io.github.humbleui.skija-shared;bundle-version="${range;[==,+);${version}}"
os:                     ${replacestring;${replacestring;${replacestring;${mvnArtifactId};.*-macos-.*;macosx};.*-linux-.*;linux};.*-windows-.*;win32}
arch:                   ${replacestring;${replacestring;${mvnArtifactId};.*-arm64.*;aarch64};.*-x64.*;x86_64}
Eclipse-PlatformFilter: (|(&(osgi.os=${os})(osgi.arch=${arch}))(org.eclipse.orbit.maven.bnd.buildtime=true))
-noextraheaders:        true
-removeheaders:         Private-Package
]]>
      </instructions>
    </location>


<!-- _______________________________________________________ EXCLUDE _________________________________________________________________________________________________-->

    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
      <feature id="org.eclipse.orbit.maven.com.exclude" label="Orbit Maven BND exclude" provider-name="Eclipse Orbit" version="4.40.0.v20260401-1000">
        <description>This feature's dependencies are pulled directly from Maven central and is signed.</description>
        <copyright>
Copyright (c) 2026 Eclipse contributors and others.

This program and the accompanying materials
are made available under the terms of the Eclipse Public License 2.0
which accompanies this distribution, and is available at
https://www.eclipse.org/legal/epl-2.0/

SPDX-License-Identifier: EPL-2.0
        </copyright>
        <license url="https://www.eclipse.org/legal/epl-2.0/"/>
      </feature>
      <dependencies>
        <dependency>
          <groupId>com.github.jnr</groupId>
          <artifactId>jffi</artifactId>
          <version>1.3.15</version>
          <type>jar</type>
          <classifier>complete</classifier>
        </dependency>
      </dependencies>
      <instructions>
<!-- SHA1 4a0d52a8a69c09d35b47b0fb2951b2060563d10a -->
<![CDATA[
Bundle-Name:            Bundle ${mvnGroupId} : ${mvnArtifactId}
version:                ${versionmask;===;${version_cleanup;${mvnVersion}}}
Bundle-SymbolicName:    org.${mvnArtifactId}
Bundle-Version:         ${version}.v20260401-1000
Eclipse-Wrapped-Bundle: ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
Import-Package:         *
Export-Package:         *;version="${version}";-noimport:=true
-noextraheaders:        true
-removeheaders:         Private-Package
]]>
      </instructions>
    </location>
 
     <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
      <feature id="org.eclipse.orbit.maven.io.github.humbleui.skija-shared.exclude" label="Orbit Maven BND io.github.humbleui.skija-shared-exclude" provider-name="Eclipse Orbit" version="4.40.0.v20260416-1000">
        <description>This feature's dependencies are pulled directly from Maven central and wrapped via BND recipe as OSGi artifacts.</description>
        <copyright>
Copyright (c) 2026 Eclipse contributors and others.

This program and the accompanying materials
are made available under the terms of the Eclipse Public License 2.0
which accompanies this distribution, and is available at
https://www.eclipse.org/legal/epl-2.0/

SPDX-License-Identifier: EPL-2.0
        </copyright>
        <license url="https://www.eclipse.org/legal/epl-2.0/"/>
      </feature>
      <dependencies>
        <dependency>
          <groupId>io.github.humbleui</groupId>
          <artifactId>skija-shared</artifactId>
          <version>0.143.13</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions>
<!-- SHA1 83c27b0cfaf59ad1240be0ee0dbf96292cd131f2 -->
<![CDATA[
Bundle-Name:            Bundle ${mvnGroupId} : ${mvnArtifactId}
version:                ${versionmask;===;${version_cleanup;${mvnVersion}}}
Bundle-SymbolicName:    ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:         ${version}.v20260416-1000
Eclipse-Wrapped-Bundle: ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
Import-Package:         *
Export-Package:         *;version="${version}";-noimport:=true
-noextraheaders:        true
-removeheaders:         Private-Package
]]>
      </instructions>
    </location>

<!-- _______________________________________________________ io.github.humbleui.types _________________________________________________________________________________________________-->

    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
      <feature id="org.eclipse.orbit.maven.io.github.humbleui.types.exclude" label="Orbit Maven BND io.github.humbleui.types-exclude" provider-name="Eclipse Orbit" version="4.40.0.v20260416-1000">
        <description>This feature's dependencies are pulled directly from Maven central and wrapped via BND recipe as OSGi artifacts.</description>
        <copyright>
Copyright (c) 2026 Eclipse contributors and others.

This program and the accompanying materials
are made available under the terms of the Eclipse Public License 2.0
which accompanies this distribution, and is available at
https://www.eclipse.org/legal/epl-2.0/

SPDX-License-Identifier: EPL-2.0
        </copyright>
        <license url="https://www.eclipse.org/legal/epl-2.0/"/>
      </feature>
      <dependencies>
        <dependency>
          <groupId>io.github.humbleui</groupId>
          <artifactId>types</artifactId>
          <version>0.2.0</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions>
<!-- SHA1 a143d218802483021121a7b2deed618d31acd7aa -->
<![CDATA[
Bundle-Name:            Bundle ${mvnGroupId} : ${mvnArtifactId}
version:                ${versionmask;===;${version_cleanup;${mvnVersion}}}
Bundle-SymbolicName:    ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:         ${version}.v20260416-1000
Eclipse-Wrapped-Bundle: ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
Import-Package:         *
Export-Package:         *;version="${version}";-noimport:=true
-noextraheaders:        true
-removeheaders:         Private-Package
]]>
      </instructions>
    </location>
  
  </locations>
</target>